<app-title [title]="title"></app-title>
<div class="pb-3"></div>
<div class="text-center ms-lg-5 me-lg-5">
    <iframe class="youtube-video ms-lg-5 me-lg-5 mb-4"
        src="https://www.youtube.com/embed/a45OkNqFU7E?list=OLAK5uy_mUIZ8UojpFlMnnPp9b-C6qcR2avdDs1I0"
        title="Heartbreak (It&#39;s What Makes a Subaru a Subaru)" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <iframe class="youtube-video ms-lg-5 me-lg-5 mb-4"
        src="https://www.youtube.com/embed/BcWytoPKpmc?list=OLAK5uy_mUIZ8UojpFlMnnPp9b-C6qcR2avdDs1I0"
        title="Sorry Face" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <iframe class="youtube-video ms-lg-5 me-lg-5 mb-4"
        src="https://www.youtube.com/embed/cJ5jdGpFEEo?list=OLAK5uy_mUIZ8UojpFlMnnPp9b-C6qcR2avdDs1I0" title="Oblivion"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <iframe class="youtube-video ms-lg-5 me-lg-5 mb-4"
        src="https://www.youtube.com/embed/Y6woPVC3QD4?list=OLAK5uy_mUIZ8UojpFlMnnPp9b-C6qcR2avdDs1I0" title="Lillian"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>