<div class="container bg-gray mb-3 pt-2 pb-2 " *ngIf="performance && show">
    <div *ngIf="showDelete" role="button" (click)="delete()">
        <i class="bi bi-trash" ></i>
    </div>
    <div class="row">
        <div class="col-4 date">
            <span class="date">{{(performance.date.toLocaleString('default', {month: 'short'}) | uppercase) + " " + performance.date.getDate()}} </span><br>
            <span class="time">{{performance.date.toLocaleTimeString([], {hour: 'numeric', minute:'2-digit'}) | lowercase}}</span>
        </div>
        <div class="col-6">
            <span class="venue">{{performance.venue}}</span> <br>
            <span class="city">{{performance.city + ", " + performance.state}}</span>
        </div>
    </div>

</div>
