.date, .time {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.date {
    font-size: 1.15em;
}

.reduce-width{
    width: fit-content;

}

.city {
    font-size: 0.75em;
    font-weight: 500;
    padding-left: 15px;

}
 .venue {
    font-size: 1.5em;
    font-weight:700;
 }
 .bg-gray{
    background-color: lightgray;
 }
 i {
    font-size: 1.5em;
    color: red;
    width: fit-content;
 }