<div *ngIf="innerWidth < 900" class="mt"></div>
<div class="text-center">
  <button *ngIf="innerWidth < 900" [routerLink]="['/nav']" id="burger" class="hamburger hamburger--collapse "
    (click)="burgerClickEvent()" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div class="tabs mb-3" *ngIf="innerWidth >= 900">
    <span id="tour-tab"  role="button" [routerLink]="['tour']" class="underline">TOUR</span>
    <span id="about-tab"  role="button" [routerLink]="['about']">ABOUT</span>
    <span id="contact-tab"  role="button" [routerLink]="['contact']">CONTACT</span>
    <span id="listen-tab"  role="button" [routerLink]="['listen']">LISTEN</span>
  </div>


</div>